// app global css
@import "~variables";
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

font-primary = 'Trebuchet MS'
font-secondary = 'Carter One'


@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

*
  a
    text-decoration none

  //=================== responsive visibilities
  .q-hide
    display none !important
  .q-xs-hide
    @media screen and (min-width: $breakpoint-xs)
      display none !important
  .q-sm-hide
    @media screen and (min-width: $breakpoint-sm)
      display none !important
  .q-md-hide
    @media screen and (min-width: $breakpoint-md)
      display none !important
  .q-lg-hide
    @media screen and (min-width: $breakpoint-lg)
      display none !important
  .q-xl-hide
    @media screen and (min-width: $breakpoint-xl)
      display none !important

  .q-show
    display block !important
  .q-xs-show
    @media screen and (min-width: $breakpoint-xs)
      display block !important
  .q-sm-show
    @media screen and (min-width: $breakpoint-sm)
      display block !important
  .q-sm-inline-show
    @media screen and (min-width: $breakpoint-sm)
      display inline-block !important
  .q-md-show
    @media screen and (min-width: $breakpoint-md)
      display block !important
  .q-lg-show
    @media screen and (min-width: $breakpoint-lg)
      display block !important
  .q-xl-show
    @media screen and (min-width: $breakpoint-xl)
      display block !important

  //=================== Round bordes modified

  .round-borders
    border-radius 6px !important
    border 1px solid $grey-4

  //================== Container like bootstrap

  .q-container
    width 100%
    margin 0 auto
    @media screen and (min-width: $breakpoint-xs)
      max-width 540px
    @media screen and (min-width: $breakpoint-sm)
      max-width 720px
    @media screen and (min-width: $breakpoint-md)
      max-width 960px
    @media screen and (min-width: $breakpoint-lg)
      max-width 1140px

  //====================== Alerts notifications

  .q-notification
    .q-alert
      color white !important

      .q-alert-side
        background-color white

      .q-alert-actions
        color white !important

      //Per type

      &.bg-positive
        .q-alert-side
          border-left 3px solid $positive !important

        .q-alert-side
          color $positive !important

      &.bg-negative
        .q-alert-side
          border-left 3px solid $negative !important

        .q-alert-side
          color $negative !important

      &.bg-cyan
        .q-alert-side
          border-left 3px solid $cyan !important

        .q-alert-side
          color $cyan !important

      &.bg-warning
        .q-alert-side
          border-left 3px solid $warning !important

        .q-alert-side
          color $warning !important

      &.bg-faded
        .q-alert-side
          border-left 3px solid $faded !important

        .q-alert-side
          color $faded !important

      &.bg-black
        .q-alert-side
          border-left 3px solid black !important

        .q-alert-side
          color black !important


  //===================== VUE TREE SELECT

  .vue-treeselect__portal-target
    z-index 99999999 !important

  .vue-treeselect
    border 1px solid $grey-4

    .vue-treeselect__control
      border: 0px !important
      padding: 0 !important

      .vue-treeselect__single-value
        font-size 15px
        height 36px
        padding 5px 3px
        line-height 1.8
        text-transform capitalize

      .vue-treeselect__multi-value-item-container
        padding-top 2px
        text-transform capitalize

      .vue-treeselect__multi-value-item
        background: $primary
        color: white
        font-size: 14px
        border-radius: 15px
        padding: 2px
        text-transform capitalize

        &:hover
          .vue-treeselect__icon
            color: $primary

      .vue-treeselect__icon
        color: $primary
        background: white
        border-radius: 100%
        padding: 5px

        svg
          width: 10px
          height: 12px

      .vue-treeselect__placeholder
        padding: 0

      .vue-treeselect__input-container
        padding: 0

      .vue-treeselect__control-arrow
        color: $grey-6

    .vue-treeselect__list-item
      .vue-treeselect__option
        padding 5px 0 5x 5px

    .vue-treeselect__portal-target
      z-index 99999999 !important

  .table-responsive
    min-height: .01%;
    overflow-x: auto;
    width: 100%;

    .text_title
      line-height: 30px;

  @media screen and (max-width: 767px)
    .table-responsive {
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

  //================== Styles only to backend

  .backend-page
    .box
      border-radius 20px
      box-shadow $shadow-1
      background-color white
      padding 15px
      .bg-positive
        background-color $secondary!important    
      .bg-info
        background-color $tertiary!important  
        
    .box-table
      border-radius 20px
      box-shadow $shadow-1
      background-color white
      padding 15px
      .bg-positive
        background-color $secondary!important    
      .bg-info
        background-color $tertiary!important  

    .q-table-container
      
      .q-table-top, .q-table-middle, .q-table-bottom
        padding 15px !important
      .q-table thead tr 
        background-color #F0F0F0
        th 
          font-weight 700
          color #444444
      .q-table tbody tr:last-child td
        border-color transparent
  

    .q-btn, .q-btn-group //All buttons with border radius
      border-radius 28px
      box-shadow none

    .border
      border 1px solid $grey-4

    .border-top-color //border top color
      border-top 3px solid $primary
      padding 15px

      &.q-table-container, &.q-card
        padding 0px

    .btn-small
      min-height 22px
      font-size 12px !important
      padding 4px 10px

      .q-icon
        font-size 13px
        margin-right 5px

    .input-title //Label to input fields
      position relative
      color $grey-8
      font-size 12px
      margin-left 4px
      padding 12px 0 8px 0

      .q-btn
        min-height 22px
        position absolute
        top 4px
        right 0
        font-size 12px !important
        padding 4px 10px

        .q-icon
          font-size 13px
          margin-right 5px

    .q-input, .q-select, .q-datetime-input, .q-chips-input //Style to input select and date time
      padding-bottom 0px
      padding-top 29px

      &:before
        border 1px solid transparent
      .q-if-inner
        border 1px solid $grey-4
        padding 5px 3px

        .q-if-label
          line-height 3 !important
          color $grey-8

    .q-field //Field inputs

      .q-field-content
        position relative
        padding 0px !important

        .q-field-bottom
          display none
          padding-top 3px
          margin 0px
          border none

      &.q-field-with-error
        .input-title, .q-if-label
          color $red !important

        .q-field-bottom
          display block

          .q-field-error
            color $red-3

    .q-select, .q-datetime-input //q select and q date time

      .q-if-inner
        border-right 0px

      .q-icon
        border 1px solid $grey-4
        border-left 0px
        height 36px
        padding 5px 3px
        margin 0px
        max-height 36px

      .q-input-target
        padding-left 4px

    .q-search //q search
      border 1px solid $grey-4
      padding 0px 9px !important
      border-radius 5px

      .q-if-inner
        border 0px

    .q-select //q select

      .q-chip-small
        min-height 24px

    .q-chips-input //q-chips-input

      .q-if-inner
        padding-right 25px

      .q-icon
        padding 0
        border 0
        height auto

        &.q-if-control
          position absolute
          right 0
          padding 7px
          max-height 34px

        &.invisible
          visibility visible !important

    .q-table-bottom //Q table bottom

      .q-select
        border 0px
        padding 0px

        .q-if-inner, .q-icon
          border 0px

    .q-modal-layout //Modal
      @media screen and (min-width: $breakpoint-sm)
        max-width 95vw !important

      .q-layout-header, .q-layout-footer
        box-shadow none !important

      .layout-padding
        padding 15px

    .cont-vue-tree //Content vue tree with label left
      border 1px solid $grey-4
      border-left 2px solid $primary
      border-radius 4px
      display inline-flex
      margin-right 7px

      @media screen and (max-width: $breakpoint-sm)
        width 100%
        margin-bottom 10px

      .stack-label, .input-title
        float left
        padding 12px 4px
        color $primary
        font-size 16px
        text-transform capitalize

      .vue-treeselect, .q-if-inner, .q-if-control
        float right
        border 0px

        .vue-treeselect__control
          border 0px !important
          width auto
          padding-right 5px !important

        .vue-treeselect__single-value
          font-size 15px
          height 36px
          padding 5px 3px
          line-height 1.8

body
  font-family font-primary
  
footer
  font-size 13px
  
  
.font-family-primary
  font-family font-primary

.font-family-secondary
  font-family font-secondary
  
.bg-degradado
  background linear-gradient(to right, #FD2D5E 0%, #fc4c57 50%, #fa4d22 100%)
  
.bg-fondo
  background-color #F0F0F0
  background-image url('/assets/img/fondo.jpg')
  background-size cover       

.bg-fondo-q 
  background #e4e0c7
  background -moz-linear-gradient(top, #e4e0c7 0%, #e4e0c7 1%, #e2dec5 1%, #e4e0c7 1%, #e3dfc6 3%, #e3deca 3%, #e4dfcb 9%, #dfdec9 9%, #e0dfcb 16%, #dcddcb 17%, #e1e0cc 17%, #e0dfcb 21%, #dcdfca 21%, #dcded1 22%, #dcded0 29%, #d8dfcf 30%, #d9e0d0 33%, #d9dfd3 33%, #d9dfd3 36%, #d7ddd1 36%, #d8ded2 37%, #d9dfd5 38%, #d9dfd5 42%, #d5e0d0 42%, #d5e0d2 47%, #d5dfd6 47%, #d7ded7 47%, #d7ded6 52%, #d7ded7 52%, #d2dfd6 52%, #cfe0d8 61%, #cfdfdc 61%, #cfdfdc 63%, #ccdcd9 63%, #d0e0dd 63%, #cfdfdc 68%, #cbe2dc 68%, #c9dfdc 68%, #cbe1de 73%, #c7dfdf 73%, #cadedf 73%, #c7dfdf 81%, #c7dfe3 81%, #c7dfe3 82%, #c6dfe3 82%, #c2dfe3 82%, #c4dfe6 91%, #bedfe4 91%, #c2e1e6 92%, #c1e0e5 92%, #c1dfe9 92%, #c1dfe9 100%)
  background -webkit-linear-gradient(top, #e4e0c7 0%,#e4e0c7 1%,#e2dec5 1%,#e4e0c7 1%,#e3dfc6 3%,#e3deca 3%,#e4dfcb 9%,#dfdec9 9%,#e0dfcb 16%,#dcddcb 17%,#e1e0cc 17%,#e0dfcb 21%,#dcdfca 21%,#dcded1 22%,#dcded0 29%,#d8dfcf 30%,#d9e0d0 33%,#d9dfd3 33%,#d9dfd3 36%,#d7ddd1 36%,#d8ded2 37%,#d9dfd5 38%,#d9dfd5 42%,#d5e0d0 42%,#d5e0d2 47%,#d5dfd6 47%,#d7ded7 47%,#d7ded6 52%,#d7ded7 52%,#d2dfd6 52%,#cfe0d8 61%,#cfdfdc 61%,#cfdfdc 63%,#ccdcd9 63%,#d0e0dd 63%,#cfdfdc 68%,#cbe2dc 68%,#c9dfdc 68%,#cbe1de 73%,#c7dfdf 73%,#cadedf 73%,#c7dfdf 81%,#c7dfe3 81%,#c7dfe3 82%,#c6dfe3 82%,#c2dfe3 82%,#c4dfe6 91%,#bedfe4 91%,#c2e1e6 92%,#c1e0e5 92%,#c1dfe9 92%,#c1dfe9 100%)
  background linear-gradient(to bottom, #e4e0c7 0%,#e4e0c7 1%,#e2dec5 1%,#e4e0c7 1%,#e3dfc6 3%,#e3deca 3%,#e4dfcb 9%,#dfdec9 9%,#e0dfcb 16%,#dcddcb 17%,#e1e0cc 17%,#e0dfcb 21%,#dcdfca 21%,#dcded1 22%,#dcded0 29%,#d8dfcf 30%,#d9e0d0 33%,#d9dfd3 33%,#d9dfd3 36%,#d7ddd1 36%,#d8ded2 37%,#d9dfd5 38%,#d9dfd5 42%,#d5e0d0 42%,#d5e0d2 47%,#d5dfd6 47%,#d7ded7 47%,#d7ded6 52%,#d7ded7 52%,#d2dfd6 52%,#cfe0d8 61%,#cfdfdc 61%,#cfdfdc 63%,#ccdcd9 63%,#d0e0dd 63%,#cfdfdc 68%,#cbe2dc 68%,#c9dfdc 68%,#cbe1de 73%,#c7dfdf 73%,#cadedf 73%,#c7dfdf 81%,#c7dfe3 81%,#c7dfe3 82%,#c6dfe3 82%,#c2dfe3 82%,#c4dfe6 91%,#bedfe4 91%,#c2e1e6 92%,#c1e0e5 92%,#c1dfe9 92%,#c1dfe9 100%)
  
.h-100
  height: 100%

.w-100
  width 100%
    
.ratio-4-3  
  height 0
  padding-bottom 75%
  position relative
  img
    position absolute
    object-fit cover
    left 0
    width 100%
    height: 100%

.ratio-16-9  
  height 0
  padding-bottom: 56.25%;
  position relative
  img
    position absolute
    object-fit cover
    left 0
    width 100%
    height: 100%
    
.ratio-1  
  height 0
  padding-bottom 100%
  position relative
  img
    position absolute
    object-fit cover
    left 0
    width 100%
    height: 100% 
    
.ratio-21-9  
  height 0
  padding-bottom: 42.85%;
  position relative
  img
    position absolute
    object-fit cover
    left 0
    width 100%
    height: 100%    

.border-0
  border 0

.rounded-sm
  border-radius 10px
  
.rounded-md
  border-radius 20px

.rounded-lg
  border-radius 40px  
   
.master-frontend   
  .q-layout-page
    margin-top -55px
    @media screen and (max-width: $breakpoint-lg)
      margin-top 0
    
.page    
  .title
    font-size 35px
  p  
    font-size 16px
    color #555555
    
.title-label
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  width 80%
  font-size 25px
  position relative
  font-family font-secondary
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)

.banner-category
  .title-label
    width auto
    font-size 50px
    padding 15px 35px
    @media screen and (max-width: $breakpoint-md)
      font-size 30px 
      padding 10px 
      
.line-grey
  border 1.5px solid #E1E1E1  
  

/* Bottons arrows */      
.btn-arrow-send-pink
  font-family font-secondary
  &:after
    content ''
    background-image url('/assets/img/arrow-send-pink.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute
    
.btn-arrow-send-yellow
  font-family font-secondary
  &:after
    content ''
    background-image url('/assets/img/arrow-send-yellow.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute    

.btn-arrow-send-white
  font-family font-family-secondary
  &:after
    content ''
    background-image url('/assets/img/arrow-send-white.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute    
    
/* Forms */  
.form-general  
  .caption
    font-size 18px
    color #555555
  .q-input-target 
    font-size 18px
    color #777777
    &::-webkit-input-placeholder 
      color #999999 !important
    &::-moz-placeholder 
      color #999999 !important
    &:-ms-input-placeholder 
      color #999999 !important
  .q-if:before 
    color: #E1E1E1
  .q-if:before, .q-if:after 
    border-width 2px !important 
  .q-select
    .q-if-control 
      color $primary  
    .q-chip-main
      font-size 18px
  .q-option    
    font-size 18px
    color #555555
  .q-if-label  
    font-size 18px
    color #282D46
  .q-chip-side 
    .q-icon
      color #FFFFFF  
  .q-input    
    .q-icon
      color $primary   
      
.label-primary
  background-image url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 262 209.06'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fd2d5e;}%3C/style%3E%3C/defs%3E%3Ctitle%3ERecurso 4%3C/title%3E%3Cg id='Capa_2' data-name='Capa 2'%3E%3Cg id='home'%3E%3Cpath class='cls-1' d='M255,0H7C3.13,0,0,3.77,0,8.42V200.63c0,5.48,4.27,9.49,8.68,8.18L131.59,172.2a5.86,5.86,0,0,1,3.42,0L253.26,208.7c4.43,1.37,8.74-2.66,8.74-8.16V8.42C262,3.77,258.87,0,255,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
  background-repeat no-repeat
  background-size 100% 100%    
  display flex
  justify-content center
  align-content center
  flex-direction column
  min-height 200px
  .title
    font-size 30px
    letter-spacing 6px
    span
      border-top 1px solid #FFFFFF
      border-bottom 1px solid #FFFFFF
  .subtitle  
    font-size 20px
    
.logo-tienda
  padding-top 0 !important
  padding-bottom 30px !important
  img
    width 220px
    height 220px
    border-radius 50%
    border 5px solid $tertiary    
    margin 0 auto
    position relative
    object-fit contain
    padding 10px


/* Title label*/
.title-label-pink
    -webkit-transform skew(10deg)
    transform skew(10deg)
    border-radius 10px
    padding 10px 20px
    display inline-block
    min-width 40%
    margin -58px 0 10px 0
    background-color $primary
    color #FFFFFF
    font-size 30px
    position relative
    font-family font-secondary
    & > div
      -webkit-transform  skew(-10deg)
      transform skew(-10deg)
    @media screen and (max-width: $breakpoint-md)
        min-width 60%
        font-size 20px
        padding 0 15px

.title-label-blue
    -webkit-transform skew(10deg)
    transform skew(10deg)
    border-radius 10px
    padding 10px 20px
    display inline-block
    min-width 40%
    margin -58px 0 10px 0
    background-color #282D46
    color #FFFFFF
    font-size 30px
    position relative
    font-family font-secondary
    &:before
        content ''
        background-image url('/assets/img/arrow-down.png')
        position absolute
        right 15px
        width 38px
        height 70px
        background-repeat no-repeat
        top 27px
    @media screen and (max-width: $breakpoint-md)
        min-width 60%
        font-size 20px
        padding 0 15px
        &:before
            display none !important    
    & > div
        -webkit-transform  skew(-10deg)
        transform skew(-10deg)      
        
.title-label-orange
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  min-width 40%
  margin -58px 0 10px 0
  background-color #F96353
  color #FFFFFF
  font-size 30px
  position relative
  font-family font-secondary
  &:before
    content ''
    background-image url('/assets/img/arrow-down-blue.png')
    position absolute
    right -5px
    width 55px
    height 70px
    background-repeat no-repeat
    top 27px
  @media screen and (max-width: $breakpoint-md)
    min-width 60%
    font-size 20px
    padding 0 15px
    &:before
        display none !important      
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)          
   
.title-label-blue-none
    -webkit-transform skew(10deg)
    transform skew(10deg)
    border-radius 10px
    padding 10px 20px
    display inline-block
    min-width 40%
    margin -58px 0 10px 0
    background-color #282D46
    font-size 30px
    position relative
    font-family font-secondary
    @media screen and (max-width: $breakpoint-md)
        min-width 60%  
        font-size 20px 
        padding 0 15px
    & > div
        -webkit-transform  skew(-10deg)
        transform skew(-10deg)
        
.cursor-pointer
  cursor pointer        