// app global css
*
  a
    text-decoration none

  //=================== Layout Padding

  .layout-padding
    @media (max-width: 767px)
      padding 1.5rem 0.5rem
    @media (min-width: 768px) and (max-width: 991px)
      padding 1.5rem 2rem
      margin auto
    @media (min-width: 992px) and (max-width: 1199px)
      padding 2.5rem 3rem
      margin auto
    @media (min-width: 1200px)
      padding 3rem 4rem
      margin auto

  //=================== responsive visibilities

  .q-hide
    display none !important

  .q-xs-hide
    @media screen and (min-width: $breakpoint-xs)
      display none !important

  .q-sm-hide
    @media screen and (min-width: $breakpoint-sm)
      display none !important

  .q-md-hide
    @media screen and (min-width: $breakpoint-md)
      display none !important

  .q-lg-hide
    @media screen and (min-width: $breakpoint-lg)
      display none !important

  .q-xl-hide
    @media screen and (min-width: $breakpoint-xl)
      display none !important

  .q-show
    display block !important

  .q-xs-show
    @media screen and (min-width: $breakpoint-xs)
      display block !important

  .q-sm-show
    @media screen and (min-width: $breakpoint-sm)
      display block !important

  .q-md-show
    @media screen and (min-width: $breakpoint-md)
      display block !important

  .q-lg-show
    @media screen and (min-width: $breakpoint-lg)
      display block !important

  .q-xl-show
    @media screen and (min-width: $breakpoint-xl)
      display block !important

  //=================== Input field

  .q-field
    .q-field__bottom
      padding 2px 12px 6px 12px !important


  //=================== List & list items

  .q-item
    padding 0 10px
    min-height 35px

  .q-item__section--avatar
    min-width auto !important
    padding-right 8px !important


  //=================== Round bordes modified

  .round-borders
    border-radius 6px !important
    border 1px solid $grey-4

  //================== Container like bootstrap

  .q-container
    width 100%
    margin 0 auto
    @media screen and (min-width: $breakpoint-xs)
      max-width 540px
    @media screen and (min-width: $breakpoint-sm)
      max-width 720px
    @media screen and (min-width: $breakpoint-md)
      max-width 960px
    @media screen and (min-width: $breakpoint-lg)
      max-width 1140px

  //====================== Alerts notifications

  .q-notification
    .q-notification__actions
      color white !important
    .q-alert
      color white !important

      .q-alert-side
        background-color white

      .q-alert-actions
        color white !important

      //Per type

      &.bg-positive
        .q-alert-side
          border-left 3px solid $positive !important

        .q-alert-side
          color $positive !important

      &.bg-negative
        .q-alert-side
          border-left 3px solid $negative !important

        .q-alert-side
          color $negative !important

      &.bg-cyan
        .q-alert-side
          border-left 3px solid $cyan !important

        .q-alert-side
          color $cyan !important

      &.bg-warning
        .q-alert-side
          border-left 3px solid $warning !important

        .q-alert-side
          color $warning !important

      &.bg-faded
        .q-alert-side
          border-left 3px solid $faded !important

        .q-alert-side
          color $faded !important

      &.bg-black
        .q-alert-side
          border-left 3px solid black !important

        .q-alert-side
          color black !important


  //================== Styles only to backend

  .backend-page
    .box
      border-top 3px solid $primary
      border-radius 5px
      box-shadow $shadow-1
      background-color white
      padding 15px

    .box-table
      border-top 3px solid $primary
      border-radius 5px
      box-shadow $shadow-1
      background-color white
    .q-field
      padding-bottom 20px !important
      .q-field
        padding 0 !important

    .q-table-container
      .q-table-top
        padding 8px 15px !important

    .q-btn, .q-btn-group //All buttons with border radius
      border-radius 28px
      box-shadow none

    .border
      border 1px solid $grey-4

    .border-top-color //border top color
      border-top 3px solid $primary
      padding 15px

      &.q-table-container, &.q-card
        padding 0px

    .btn-small
      min-height 22px
      font-size 12px !important
      padding 4px 10px

      .q-icon
        font-size 13px
        margin-right 5px

    .input-title //Label to input fields
      position relative
      color $grey-8
      font-size 12px
      margin-left 4px
      padding-bottom 4px

      .crudContentPage
        height 12px
        .q-btn
          min-height 22px
          position absolute
          top 4px
          right 0
          font-size 12px !important
          padding 4px 10px

          .q-icon
            font-size 13px
            margin-right 5px

    .q-table-bottom //Q table bottom

      .q-select
        border 0px
        padding 0px

        .q-if-inner, .q-icon
          border 0px

  //===================== VUE TREE SELECT

  .vue-treeselect__portal-target
    z-index 99999999 !important

  .cont-vue-tree
    border 1px solid $grey-4
    border-left 2px solid $primary
    border-radius 4px
    display inline-flex
    margin-right 7px

    .stack-label, .input-title
      float left
      padding 6px 4px
      color $primary
      font-size 16px
      text-transform capitalize

    .vue-treeselect, .q-if-inner, .q-if-control
      float right
      border 0px

      .vue-treeselect__control
        border 0px !important
        width auto
        padding-right 5px !important

      .vue-treeselect__single-value
        font-size 15px
        height 36px
        padding 5px 3px
        line-height 1.8

    .q-field__control
      min-height max-content !important

      .q-field__control-container
        min-height max-content !important


.font-family-primary
  font-family $font-primary

.font-family-secondary
  font-family $font-secondary
  
body
  font-family $font-primary
  
footer
  font-size 13px

.bg-degradado
  background $bg-degradado
  
.bg-fondo
  background-color #F0F0F0
  background-image url('/statics/img/fondo.jpg')
  background-size cover       

.bg-fondo-q 
  background #e4e0c7
  background -moz-linear-gradient(top, #e4e0c7 0%, #e4e0c7 1%, #e2dec5 1%, #e4e0c7 1%, #e3dfc6 3%, #e3deca 3%, #e4dfcb 9%, #dfdec9 9%, #e0dfcb 16%, #dcddcb 17%, #e1e0cc 17%, #e0dfcb 21%, #dcdfca 21%, #dcded1 22%, #dcded0 29%, #d8dfcf 30%, #d9e0d0 33%, #d9dfd3 33%, #d9dfd3 36%, #d7ddd1 36%, #d8ded2 37%, #d9dfd5 38%, #d9dfd5 42%, #d5e0d0 42%, #d5e0d2 47%, #d5dfd6 47%, #d7ded7 47%, #d7ded6 52%, #d7ded7 52%, #d2dfd6 52%, #cfe0d8 61%, #cfdfdc 61%, #cfdfdc 63%, #ccdcd9 63%, #d0e0dd 63%, #cfdfdc 68%, #cbe2dc 68%, #c9dfdc 68%, #cbe1de 73%, #c7dfdf 73%, #cadedf 73%, #c7dfdf 81%, #c7dfe3 81%, #c7dfe3 82%, #c6dfe3 82%, #c2dfe3 82%, #c4dfe6 91%, #bedfe4 91%, #c2e1e6 92%, #c1e0e5 92%, #c1dfe9 92%, #c1dfe9 100%)
  background -webkit-linear-gradient(top, #e4e0c7 0%,#e4e0c7 1%,#e2dec5 1%,#e4e0c7 1%,#e3dfc6 3%,#e3deca 3%,#e4dfcb 9%,#dfdec9 9%,#e0dfcb 16%,#dcddcb 17%,#e1e0cc 17%,#e0dfcb 21%,#dcdfca 21%,#dcded1 22%,#dcded0 29%,#d8dfcf 30%,#d9e0d0 33%,#d9dfd3 33%,#d9dfd3 36%,#d7ddd1 36%,#d8ded2 37%,#d9dfd5 38%,#d9dfd5 42%,#d5e0d0 42%,#d5e0d2 47%,#d5dfd6 47%,#d7ded7 47%,#d7ded6 52%,#d7ded7 52%,#d2dfd6 52%,#cfe0d8 61%,#cfdfdc 61%,#cfdfdc 63%,#ccdcd9 63%,#d0e0dd 63%,#cfdfdc 68%,#cbe2dc 68%,#c9dfdc 68%,#cbe1de 73%,#c7dfdf 73%,#cadedf 73%,#c7dfdf 81%,#c7dfe3 81%,#c7dfe3 82%,#c6dfe3 82%,#c2dfe3 82%,#c4dfe6 91%,#bedfe4 91%,#c2e1e6 92%,#c1e0e5 92%,#c1dfe9 92%,#c1dfe9 100%)
  background linear-gradient(to bottom, #e4e0c7 0%,#e4e0c7 1%,#e2dec5 1%,#e4e0c7 1%,#e3dfc6 3%,#e3deca 3%,#e4dfcb 9%,#dfdec9 9%,#e0dfcb 16%,#dcddcb 17%,#e1e0cc 17%,#e0dfcb 21%,#dcdfca 21%,#dcded1 22%,#dcded0 29%,#d8dfcf 30%,#d9e0d0 33%,#d9dfd3 33%,#d9dfd3 36%,#d7ddd1 36%,#d8ded2 37%,#d9dfd5 38%,#d9dfd5 42%,#d5e0d0 42%,#d5e0d2 47%,#d5dfd6 47%,#d7ded7 47%,#d7ded6 52%,#d7ded7 52%,#d2dfd6 52%,#cfe0d8 61%,#cfdfdc 61%,#cfdfdc 63%,#ccdcd9 63%,#d0e0dd 63%,#cfdfdc 68%,#cbe2dc 68%,#c9dfdc 68%,#cbe1de 73%,#c7dfdf 73%,#cadedf 73%,#c7dfdf 81%,#c7dfe3 81%,#c7dfe3 82%,#c6dfe3 82%,#c2dfe3 82%,#c4dfe6 91%,#bedfe4 91%,#c2e1e6 92%,#c1e0e5 92%,#c1dfe9 92%,#c1dfe9 100%)
  
/* Title label*/
.title-label-primary
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  min-width 40%
  margin -58px 0 10px 0
  background-color $primary
  color #FFFFFF
  font-size 30px
  position relative
  font-family $font-secondary
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)
  @media screen and (max-width: $breakpoint-md)
      min-width 60%
      font-size 20px
      padding 0 15px

.title-label-secondary
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  min-width 40%
  margin -58px 0 10px 0
  background-color $secondary
  color #FFFFFF
  font-size 30px
  position relative
  font-family $font-secondary
  &:before
    content ''
    background-image url('/statics/img/arrow-down.png')
    position absolute
    right 15px
    width 38px
    height 70px
    background-repeat no-repeat
    top 27px
  @media screen and (max-width: $breakpoint-md)
    min-width 60%
    font-size 20px
    padding 0 15px
    &:before
        display none !important    
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)      
        
.title-label-tertiary
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  min-width 40%
  margin -58px 0 10px 0
  background-color $tertiary
  color #FFFFFF
  font-size 30px
  position relative
  font-family $font-secondary
  &:before
    content ''
    background-image url('/statics/img/arrow-down-blue.png')
    position absolute
    right -5px
    width 55px
    height 70px
    background-repeat no-repeat
    top 27px
  @media screen and (max-width: $breakpoint-md)
    min-width 60%
    font-size 20px
    padding 0 15px
    &:before
        display none !important      
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)          
   
.title-label-secondary-none
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  min-width 40%
  margin -58px 0 10px 0
  background-color #282D46
  font-size 30px
  position relative
  font-family $font-secondary
  @media screen and (max-width: $breakpoint-md)
    min-width 60%  
    font-size 20px 
    padding 0 15px
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)
        
.title-label
  -webkit-transform skew(10deg)
  transform skew(10deg)
  border-radius 10px
  padding 10px 20px
  display inline-block
  width 80%
  font-size 25px
  position relative
  font-family $font-secondary
  & > div
    -webkit-transform  skew(-10deg)
    transform skew(-10deg)

.q-inline-block
  display inline-block !important
  
.text-light   
  color $light

.bg-light  
  background $light
  
.text-truncate
  white-space nowrap
  overflow hidden
  text-overflow ellipsis 

/* Bottons arrows */      
.btn-arrow-send-pink
  font-family $font-secondary
  &:after
    content ''
    background-image url('/statics/img/arrow-send-pink.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute
    
.btn-arrow-send-yellow
  font-family $font-secondary
  &:after
    content ''
    background-image url('/statics/img/arrow-send-yellow.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute    

.btn-arrow-send-white
  font-family $font-secondary
  &:after
    content ''
    background-image url('/statics/img/arrow-send-white.png')
    background-repeat no-repeat
    background-size contain
    width 74px
    height 100px
    top -4px
    right 63px
    position absolute
    
.logo-tienda
  img
    width 220px
    height 220px
    border-radius 50%
    border 5px solid $tertiary    
    margin 0 auto
    position relative
    object-fit contain
    padding 10px          
    
.rounded-sm
  border-radius 10px
  
.rounded-md
  border-radius 20px

.rounded-lg
  border-radius 40px  
      
.line-grey
  border 1px solid #E1E1E1  

.line-primary
  border 1px solid $primary
  
.line-secondary
  border 1px solid $secondary 

.line-tertiary
  border 1px solid $tertiary     
  
/* Forms */  
.form-general  
  .caption
    font-size 18px
    color #555555
    .q-btn
      background-color $tertiary
      color #fff
  .text-subtitle1
    color #666666  
  .q-field__native
    font-size 18px
    color #777777
    &::-webkit-input-placeholder
      color #999999 !important
    &::-moz-placeholder 
      color #999999 !important
      opacity 1
    &:-ms-input-placeholder 
      color #999999 !important
  .q-select
    .q-field__append 
      color $primary  
    .q-field__native
      font-size 
  .vue-treeselect__control    
    border-radius 0
    border-top 0
    border-left 0
    border-right 0
    font-size 18px
    color #777777
    .vue-treeselect__control-arrow
      color $primary
  .q-checkbox
    .q-checkbox__label
      font-size 18px
      color #777777
  .q-option    
    font-size 18px
    color #555555
  .q-if-label  
    font-size 18px
    color #282D46
  .q-chip-side 
    .q-icon
      color #FFFFFF  
          
.ratio-4-3  
  height 0
  padding-bottom 75%
  position relative
  img
    position absolute
    object-fit cover
    left 0
    width 100%
    height: 100%          