// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary = var(--q-color-primary)
$secondary = var(--q-color-secondary)
$tertiary = var(--q-color-tertiary)

$positive = var(--q-color-positive)
$info = var(--q-color-info)
$faded = var(--q-color-faded)
$dark = var(--q-color-dark)
$light = var(--q-color-light)


$storePrimary = var(--q-color-storeprimary)
$storeSecondary = var(--q-color-storesecondary)
$storeBackground = var(--q-color-storebackground)

$breakpoint-xs = 575px
$breakpoint-sm = 767px
$breakpoint-md = 991px
$breakpoint-lg = 1199px


@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@font-face
    font-family 'Trebuchet MS'
    font-style normal
    src url(/statics/fonts/trebuc.woff)

$font-primary = 'Trebuchet MS'
$font-secondary = 'Carter One'
$bg-degradado = linear-gradient(to right, #FD2D5E 0%, #fc4c57 50%, #fa4d22 100%)

